.footer__title, .subscribe__title, .award__title, .questions__title, .video__title, .why__title, .explore__content-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  text-align: center;
  color: #666666;
}

.subscribe__text, .award__text, .questions__text, .video__text, .why__text, .trust__text, .header__body-text {
  text-align: center;
  width: 57.5%;
}

/* ============================ GLOBAL ==============================*/
html,
body {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
  background-color: #FAFCFF;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.315);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.overlay--show {
  opacity: 1;
  visibility: visible;
}

.burger {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: url("../images/background/header.svg") 100% 100% no-repeat;
  padding-bottom: 235px;
}

.trust {
  margin-top: -118px;
}

.button {
  width: 170px;
  height: 50px;
  padding: 13px 34px;
  background: #4579CB;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.logo {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*=========================== HEADER ===================================*/
.header {
  /*-----------------------------------------*/
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 136px 0px 140px;
  font-weight: 700;
}
.header__logo {
  margin-right: auto;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-item:first-child {
  margin-right: 60px;
}
.header__nav-item:last-child {
  margin-right: 0px;
}
.header__nav-item:hover {
  color: #4579CB;
}
.header__top-btn {
  margin-left: 36px;
}
.header__body {
  margin-top: 125px;
}
.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__body-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.02em;
  width: 72.6388888889%;
}
.header__body-title span {
  color: #4579CB;
}
.header__body-text {
  margin: 38px 0;
}
.header__body-link {
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__body-link:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.header__body-link:hover .header__link-text {
  color: #4579CB;
}
.header__link-icon {
  margin-right: 11px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__link-text {
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*=============================== TRUST ============================*/
.trust__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  text-align: center;
}
.trust__text {
  margin: 20px auto 46px;
}
.trust__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trust__slider .slick-initialized .slick-slide {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trust__slider img {
  margin: 0 auto;
  height: auto;
  width: auto;
}

.trust__slider-dots {
  margin-top: 23px;
}
.trust__slider-dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}
.trust__slider-dots li {
  background-color: #E6E6E6;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 9px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.trust__slider-dots li.slick-active {
  width: 20px;
  height: 20px;
  background-color: #4579CB;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.trust__slider-dots li:last-child {
  margin-right: 0;
}
.trust__slider-dots button {
  font-size: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* ==================================== EXPLORE ====================================== */
/* ==================================== EXPLORE ====================================== */
.explore {
  margin-top: 114px;
}

.explore__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 120px auto;
}
.explore__article--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.explore__article--reverse .explore__image-box {
  margin-right: 0;
}
.explore__article--reverse .explore__content {
  margin-right: 90px;
}
.explore__article:last-child {
  margin-bottom: 0;
}

.explore__image-box {
  margin-right: 90px;
}

.explore__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 558px;
  height: 306px;
}

/* ============================== WHY ============================= */
/* ============================== WHY ============================= */
.why {
  margin-top: 120px;
}

.why__title {
  margin: 0 auto;
}

.why__text {
  margin: 24px auto 51px;
}

.why__table {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 30px;
  width: 1170px;
  height: 564px;
  margin: 0 auto;
}

.why__table-element {
  background-color: #F6F7FD;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
}

.why__element-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__element-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #666666;
}

.why__element-text {
  text-align: center;
  height: 50%;
  margin: 0px 23px 0px 11px;
}

/* ============================== TEAM ============================= */
/* ============================== TEAM ============================= */
.team {
  margin-top: 120px;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__image-box {
  margin-right: 110px;
}

.team__person {
  margin-bottom: 19px;
}

.team__person-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.team__person-status {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
}

.team__slider {
  max-width: 547px;
  height: 143px;
}

.team__slide-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.team__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.arrow {
  width: 70px;
  height: 40px;
  width: 70px;
  height: 40px;
  padding: 13px 34px;
  background: #4579CB;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 0;
}
.arrow:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.arrow__prev {
  margin-right: 30px;
  position: relative;
}
.arrow__prev .bg {
  position: absolute;
  top: 25%;
  left: 40%;
}

.arrow__sub {
  position: relative;
}
.arrow__sub .bg {
  position: absolute;
  top: 25%;
  right: 40%;
}

/* ============================== VIDEO ============================= */
/* ============================== VIDEO ============================= */
.video {
  margin-top: 120px;
}

.video__text {
  margin: 24px auto 31px;
}

.video__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__vid {
  display: block;
  position: relative;
}

.vid__text {
  position: absolute;
  top: 57%;
  left: 10%;
}

.vid__comment {
  line-height: 36px;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  width: 120px;
}

.vid__socielity {
  line-height: 32px;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  margin-top: 9px;
}

/* ==================================== QUESTIONS =========================== */
/* ==================================== QUESTIONS =========================== */
.questions__text {
  margin: 24px auto 52px;
}

.questions__acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__acc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
}

.questions__acc-item {
  border: 1px solid #CACACA;
  border-radius: 10px;
  width: 570px;
}

.questions__acc-link {
  display: block;
  height: 100%;
  padding: 23px 32px 23px 27px;
}

.questions__acc-link--active .questions__acc-head::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questions__acc-head {
  color: #8C8C8C;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.questions__acc-head::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../images/Vector.svg");
  width: 16px;
  height: 9px;
  top: 45%;
  right: 0%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.questions__acc-text {
  display: block;
  margin-top: 23px;
}

/* ================================ AWARD ================================= */
/* ================================ AWARD ================================= */
.award {
  margin-top: 120px;
}

.award__text {
  margin: 24px auto 42px auto;
}

.award__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.award__slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 15px 20px 15px;
  background-color: #FFFFFF;
  border-radius: 16px;
  width: 170px;
  min-height: 238px;
}

.award__year {
  color: #4579CB;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 9px 0 9px;
}

.award__desc {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 141px;
}

.award__slider-dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}
.award__slider-dots li {
  background-color: #E6E6E6;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 9px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.award__slider-dots li.slick-active {
  width: 20px;
  height: 20px;
  background-color: #4579CB;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.award__slider-dots li:last-child {
  margin-right: 0;
}
.award__slider-dots button {
  font-size: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* ========================== SUBSCRIBE ========================== */
/* ========================== SUBSCRIBE ========================== */
.subscribe {
  margin: 120px auto 80px;
}

.subscribe__text {
  margin: 24px auto 33px auto;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 770px;
  min-height: 80px;
  background: #E6E6E6;
  border-radius: 16px;
  margin: 0 auto;
}

.subscribe__form-input {
  padding-left: 34px;
  font-size: 20px;
  line-height: 28px;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.subscribe__form-btn {
  width: 170px;
  height: 50px;
  padding: 13px 34px;
  background: #4579CB;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 19px;
  padding: 0;
}
.subscribe__form-btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

/* =============================== FOOTER ==================== */
/* =============================== FOOTER ==================== */
.footer {
  background-color: #4579CB;
  padding-top: 44px;
  padding-bottom: 40px;
}
.footer .container {
  padding: 0 10px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.footer__column {
  width: 290px;
}

.footer__slide-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
  margin-left: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 31px;
}

.footer__title {
  text-align: start;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 31px;
  pointer-events: none;
}

.footer__list {
  font-size: 14px;
}

.footer__list-item {
  margin-bottom: 8px;
}

.footer__list-item:last-child {
  margin-bottom: 0px;
}

.footer__list-link {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__list-link:hover {
  color: #E6E6E6;
}

.footer__contacts-list {
  margin-bottom: 30px;
}
.footer__contacts-list svg {
  margin-right: 18px;
}
.footer__contacts-list .footer__list-link path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__contacts-list .footer__list-link:hover path {
  fill: #E6E6E6;
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__socials-item {
  margin-right: 18px;
}

.footer__socials-link path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__socials-link:hover path {
  fill: #fff;
}

/* =============================== MEDIA ============================== */
/* =============================== MEDIA ============================== */
/* ========================= 1200 =========================== */
@media (max-width: 1200px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--follow {
    top: 15px;
    right: 15px;
    -webkit-box-shadow: 0 5px 10px -3px #474747;
            box-shadow: 0 5px 10px -3px #474747;
    background-color: #F6F7FD;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #666666;
    border-radius: 3px;
    margin: 4px 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger::before, .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #666666;
    border-radius: 3px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burger--cross span {
    opacity: 0;
    width: 0%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--cross::before {
    -webkit-transform: translateY(0.5em) rotate(45deg);
        -ms-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burger--cross::after {
    -webkit-transform: translateY(-0.5em) rotate(135deg);
        -ms-transform: translateY(-0.5em) rotate(135deg);
            transform: translateY(-0.5em) rotate(135deg);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container {
    height: 100%;
  }
  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #FAFCFF;
    z-index: 100;
    min-width: 320px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__top--open {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    -webkit-box-shadow: 0 0px 15px -3px #474747;
            box-shadow: 0 0px 15px -3px #474747;
  }
  .header__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .header__logo {
    margin: 0;
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-item {
    margin: 0 auto 80px;
  }
  .header__nav-item:first-child {
    margin: 0 auto 80px;
  }
  .header__nav-item:last-child {
    margin: 0 auto;
  }
  .header__top-btn {
    margin: 0;
  }
  /* ----------------------------------------- */
  .explore__image-box {
    margin-right: 45px;
  }
  /* ----------------------------------------- */
  .why__table {
    grid-template: repeat(2, 275px)/repeat(4, 275px);
    gap: 15px;
  }
  /* ----------------------------------------- */
  .team__image-box {
    margin-right: 30px;
  }
  /* ----------------------------------------- */
  .video__vid img {
    width: 600px;
  }
  /* ----------------------------------------- */
}
/* ========================= 922 =========================== */
@media (max-width: 922px) {
  .header__body-title {
    font-size: 44px;
    line-height: 70px;
  }
  .header__body-text {
    margin: 30px 0;
  }
  /* ----------------------------------------- */
  .explore__content-title {
    line-height: 26px;
  }
  .explore__image-box {
    margin-right: 25px;
  }
  /* ----------------------------------------- */
  .why__table {
    grid-template: repeat(3, 293.33px)/repeat(3, 293.33px);
    height: 842.42px;
  }
  /* ----------------------------------------- */
  .team__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__image-box {
    margin: 0 0 20px;
  }
  /* ----------------------------------------- */
  .video__vid img {
    width: 450px;
  }
  .vid__text {
    top: 40%;
  }
  .vid__comment {
    font-size: 20px;
  }
  .vid__socielity {
    font-size: 20px;
  }
  /* ----------------------------------------- */
  .questions__acc-item {
    width: 410px;
  }
  /* ----------------------------------------- */
  .footer .container {
    padding: 0 15px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer__column {
    width: 100%;
  }
  .footer__slide-columns {
    margin: 0;
  }
}
/* ========================= 768 =========================== */
@media (max-width: 768px) {
  .header__body-title {
    font-size: 36px;
    line-height: 56px;
  }
  .header__body-text {
    margin: 24px 0;
  }
  /* ----------------------------------------- */
  .explore .container {
    padding: 0 5px;
  }
  .explore__article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .explore__image-box {
    display: none;
  }
  .explore__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .explore__content-text {
    margin: 30px auto;
  }
  /* ----------------------------------------- */
  .why {
    height: 1700px;
  }
  .why__table {
    grid-template: repeat(4, 354px)/repeat(2, 354px);
    margin: 0 auto;
  }
  /* ----------------------------------------- */
  .team__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ----------------------------------------- */
  .video__videos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video__vid img {
    width: 550px;
  }
  /* ----------------------------------------- */
  .questions__acc-item {
    width: 325px;
  }
  /* ----------------------------------------- */
  .subscribe__form {
    max-width: 680px;
  }
}
/* ========================= 480 =========================== */
@media (max-width: 480px) {
  .header__body-title {
    font-size: 28px;
    line-height: 40px;
  }
  .header__body-text {
    margin: 16px 0;
  }
  /* ------------------------------------- */
  .trust__title {
    font-size: 20px;
  }
  /* ----------------------------------------- */
  .explore {
    margin-top: 60px;
  }
  .explore__article--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .explore__article--reverse .explore__content {
    margin: 0;
  }
  .explore__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .explore__content-title {
    font-size: 20px;
  }
  /* ----------------------------------------- */
  .why {
    height: auto;
  }
  .why__table {
    display: block;
    height: 3760px;
  }
  .why__table-element {
    width: 460px;
    height: 460px;
    margin-bottom: 10px;
  }
  .why__table-element:last-child {
    margin-bottom: 0px;
  }
  /* ----------------------------------------- */
  .team {
    margin-top: 60px;
  }
  .team .container {
    padding: 0 5px;
  }
  .team__image-box {
    display: none;
  }
  .team__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slick-initialized .team__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slick-initialized .team__slide-text {
    width: 430px;
  }
  /* ----------------------------------------- */
  .video__vid img {
    width: 400px;
  }
  /* ----------------------------------------- */
  .questions__acc-item {
    width: 190px;
  }
  /* ----------------------------------------- */
  .container {
    padding: 0 10px;
  }
  /* ----------------------------------------- */
  .footer__title--slide {
    pointer-events: auto;
  }
  .footer__column .footer__list {
    display: none;
  }
}
/* ========================= 320 =========================== */
@media (max-width: 320px) {
  .explore__content-title {
    line-height: 20px;
  }
  .explore__content-text {
    margin: 15px auto;
  }
  .explore .container {
    padding: 0 10px;
  }
  /* ------------------------------------------------- */
  .why__table {
    height: 2480px;
  }
  .why__table-element {
    width: 300px;
    height: 300px;
  }
  /* ------------------------------------------------- */
  .slick-initialized {
    height: 300px;
  }
  .slick-initialized .team__slide-text {
    width: 290px;
  }
  /* ------------------------------------------------- */
  .video__vid img {
    width: 250px;
  }
  .vid__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 100px;
  }
  .vid__comment {
    font-size: 10px;
    height: 13px;
  }
  .vid__socielity {
    margin-top: 0px;
    font-size: 10px;
    height: 13px;
  }
  /* ------------------------------------------------- */
  .questions__acc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .questions__acc-item {
    width: 250px;
  }
  /* ------------------------------------------------- */
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
  }
  .subscribe__form-input {
    background: #E6E6E6;
    height: 80px;
    padding: 0 10px;
  }
  .subscribe__form-btn {
    margin: 20px 0;
  }
}