.award__title, .questions__title, .video__title, .why__title, .explore__content-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  text-align: center;
  color: #666666;
}

.award__text, .questions__text, .video__text, .why__text, .trust__text, .header__body-text {
  text-align: center;
  width: 57.5%;
}

/* ============================ GLOBAL ==============================*/
html,
body {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
  background-color: #FAFCFF;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1470px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  background: url("../images/background/header.svg") 100% 100% no-repeat;
  padding-bottom: 235px;
}

.trust {
  margin-top: -118px;
}

.button {
  width: 170px;
  height: 50px;
  padding: 13px 34px;
  background: #4579CB;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.logo {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*=========================== HEADER ===================================*/
.header {
  /*-----------------------------------------*/
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 136px 0px 140px;
  font-weight: 700;
}
.header__logo {
  margin-right: auto;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-item:first-child {
  margin-right: 60px;
}
.header__nav-item:last-child {
  margin-right: 0px;
}
.header__nav-item:hover {
  color: #4579CB;
}
.header__top-btn {
  margin-left: 36px;
}
.header__body {
  margin-top: 125px;
}
.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__body-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.02em;
  width: 72.6388888889%;
}
.header__body-title span {
  color: #4579CB;
}
.header__body-text {
  margin: 38px 0;
}
.header__body-link {
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__body-link:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.header__body-link:hover .header__link-text {
  color: #4579CB;
}
.header__link-icon {
  margin-right: 11px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__link-text {
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*=============================== TRUST ============================*/
.trust__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  text-align: center;
}
.trust__text {
  margin: 20px auto 46px;
}
.trust__slider .trust__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trust__slider-dots {
  margin-top: 23px;
}
.trust__slider-dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}
.trust__slider-dots li {
  background-color: #E6E6E6;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 9px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.trust__slider-dots li.slick-active {
  width: 20px;
  height: 20px;
  background-color: #4579CB;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.trust__slider-dots li:last-child {
  margin-right: 0;
}
.trust__slider-dots button {
  font-size: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* ==================================== EXPLORE ====================================== */
/* ==================================== EXPLORE ====================================== */
.explore {
  margin-top: 114px;
}

.explore__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 120px auto;
}
.explore__article--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.explore__article--reverse .explore__image-box {
  margin-right: 0;
}
.explore__article--reverse .explore__content {
  margin-right: 90px;
}
.explore__article:last-child {
  margin-bottom: 0;
}

.explore__image-box {
  margin-right: 90px;
}

.explore__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 558px;
  height: 306px;
}

/* ============================== WHY ============================= */
/* ============================== WHY ============================= */
.why {
  margin-top: 120px;
}

.why__title {
  margin: 0 auto;
}

.why__text {
  margin: 24px auto 51px;
}

.why__table {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 30px;
  width: 1170px;
  height: 564px;
  margin: 0 auto;
}

.why__table-element {
  background-color: #F6F7FD;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
}

.why__element-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__element-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #666666;
}

.why__element-text {
  text-align: center;
  height: 50%;
  margin: 0px 23px 0px 11px;
}

/* ============================== TEAM ============================= */
/* ============================== TEAM ============================= */
.team {
  margin-top: 120px;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team__image-box {
  margin-right: 110px;
}

.team__person {
  margin-bottom: 19px;
}

.team__person-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.team__person-status {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
}

.team__slider {
  max-width: 547px;
  max-height: 143px;
}

.team__slide-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.team__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.arrow {
  width: 70px;
  height: 40px;
  width: 70px;
  height: 40px;
  padding: 13px 34px;
  background: #4579CB;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 0;
}
.arrow:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.arrow__prev {
  margin-right: 30px;
  position: relative;
}
.arrow__prev .bg {
  position: absolute;
  top: 25%;
  left: 40%;
}

.arrow__sub {
  position: relative;
}
.arrow__sub .bg {
  position: absolute;
  top: 25%;
  right: 40%;
}

/* ============================== VIDEO ============================= */
/* ============================== VIDEO ============================= */
.video {
  margin-top: 120px;
}

.video__text {
  margin: 24px auto 31px;
}

.video__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__vid {
  display: block;
  position: relative;
}

.vid__text {
  position: absolute;
  top: 57%;
  left: 10%;
}

.vid__comment {
  line-height: 36px;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  width: 120px;
}

.vid__socielity {
  line-height: 32px;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  margin-top: 9px;
}

/* ==================================== QUESTIONS =========================== */
/* ==================================== QUESTIONS =========================== */
.questions__text {
  margin: 24px auto 52px;
}

.questions__acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__acc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
}

.questions__acc-item {
  border: 1px solid #CACACA;
  border-radius: 10px;
  width: 570px;
}

.questions__acc-link {
  display: block;
  height: 100%;
  padding: 23px 32px 23px 27px;
}

.questions__acc-link--active .questions__acc-head::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questions__acc-head {
  color: #8C8C8C;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.questions__acc-head::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../images/Vector.svg");
  width: 16px;
  height: 9px;
  top: 45%;
  right: 0%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.questions__acc-text {
  display: block;
  margin-top: 23px;
}

/* ================================ AWARD ================================= */
/* ================================ AWARD ================================= */
.award__text {
  margin: 24px auto 42px auto;
}

.award__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.award__slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 15px 20px 15px;
  background-color: #FFFFFF;
  border-radius: 16px;
  width: 170px;
}

.award__year {
  color: #4579CB;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 9px 0 9px;
}

.award__desc {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 141px;
}

.award__slider-dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}
.award__slider-dots li {
  background-color: #E6E6E6;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 9px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.award__slider-dots li.slick-active {
  width: 20px;
  height: 20px;
  background-color: #4579CB;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.award__slider-dots li:last-child {
  margin-right: 0;
}
.award__slider-dots button {
  font-size: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}